# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# Environment variables
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

# Database
*.db
*.sqlite3

# Coverage
.coverage
htmlcov/